/* ----------------------------------------- */
/* Общие элементы стилизации для всего сайта */
/* ----------------------------------------- */

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.navigation,
.social,
.features-list,
.features-sublist,
.filter-option,
.sorting-navigation,
.sorting-up-down,
.catalog-list {
  list-style: none;
}

/* ---------------------------------- */
/* Стилизация для страницы index.html */
/* ---------------------------------- */

.main-navigation {
  line-height: 26px;
  color: #000000;
  font-weight: bold;

  background-color: #ffffff;
}

.navigation-link {
  color: #000000;
}

.navigation-link:focus,
.navigation-link:hover {
  color: rgba(0, 0, 0, 0.302);
}

.navigation-link:hover {
  color: #81b3d2;
}

.features-anthem {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.features-causes {
  text-align: center;
}

.feature-head {
  font-size: 21px;
  font-weight: bold;
}

.features-sublist-title {
  font-size: 21px;
  font-weight: bold;
}

.feature-item {
  text-align: center;

  background-color: #eeeeee;
}

.feature-item-img {
  background-color: #ffffff;
}

.feature-container {
  text-align: center;

  background-color: #81b3d2;
}

.feature-container-img {
  color: #ffffff;
}

.order-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}

.order-item {
  line-height: 24px;
  text-align: center;
  color: #333333;
}

/* кнопка Поиск гостиницы в Седоне */

.order-button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}

.order-button:hover {
  background-color: #604e43;
}

.order-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

/* форма заказа на главной */

.booking-item {
  text-align: center;
}

.booking-label {
  line-height: 26px;
  font-weight: bold;
}

.booking-input {
  background-color: #f2f2f2;
}

.booking-input:hover {
  background-color: #ebebeb;
}

.booking-input:focus {
  background-color: #ffffff;
}

/* иконки календарей */

.calendar-btn-icon {
  fill: #cacaca;
}

.calendar-btn-icon:hover {
  fill: #000000;
}

.calendar-btn-icon:active {
  fill: #81b3d2;
}

/* кнока Найти */

.booking-search {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;

  background-color: #81b3d2;
}

.booking-search:hover {
  background-color: #669ec0;
}

.booking-search:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* Футер главной */
.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social-icon {
  fill: #ffffff;
 }

.social-item {
  background-color: #81b3d2;
 }

.social-item-link:hover {
  background-color: #669ec0;
 }

.social-item-link:active {
  background-color: #5496bd;
 }

.social-icon:active {
  fill: rgba(255, 255, 255, 0.3);
 }

.academy-icon {
  fill: #231f20;
}

.academy-icon:hover {
  fill: #81b3d2;
 }

.academy-icon:active {
  fill: #bdbbbc;
 }

 .copyright {
  line-height: 26px;
  color: #000000;
 }

 /* ----------------------------------- */
 /* Стилизация для страницы hotels.html */
 /* ----------------------------------- */

.filter-name {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
 }

.filter {
  background-color: #81b3d2;
  background-image: url(../img/filter-background.jpg);
}

.filter-label {
  color: #ffffff;
 }

.filter-btn {
  color: #ffffff;
  background: none;
}

.price-label {
  color: #ffffff;
}

.sorting-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-text {
  font-size: 12px;
  line-height: 18px;
}

.sorting-link {
  font-size: 12px;
  line-height: 18px;
  color: rgba( 0, 0, 0, 0.3);
}

.sorting-link.active {
  color: #81b3d2;
}

.sorting-link:hover {
  color: #81b3d2;
}

.sorting-link:active {
  color: #000000;
}

.sorting-arrow-icon.current {
  fill: #81b3d2;
}

.sorting-arrow-icon {
  fill: #cacaca;
}

.sorting-arrow-icon:hover {
  fill: #231f20;
}

.sorting-arrow-icon:active {
  fill: #81b3d2;
}

.catalog-link-name {
  color: #000000;
}

.catalog-link-name:hover {
  color: #81b3d2;
}

.catalog-link-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-category {
  color: #333333;
}

.catalog-link {
  color: #ffffff;
  font-weight: bold;
}

.catalog-link {
  background-color: #81b3d2;
}

.catalog-link:hover {
  background-color: #669ec0;
}

.catalog-link:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.reservation {
  background-color: #766357;
}

.reservation:hover {
  background-color: #604e43;
}

.reservation:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.catalog-rating-text {
  color: #666666;

  background: #f2f2f2;
}
